<div id="<%= dom_id productimage %>">
  <%# <strong>Image:</strong> %>
  <%# @product.productimage.each do |productimage| %>
    <%= image_tag productimage.image.url, size: 15*15 %><br>
    <%# end %>
    <%# <div> %>
    <%#= link_to "Edit this productimage", edit_product_productimage_path %>
    <%#= link_to "Back to productimages", productimages_path %>
    <%#= button_to "Destroy this productimage", @product_productimage, method: :delete %>
    <%# </div> %>
    <%# <p> %>
    <%# <strong>Product:</strong> %>
    <%#= productimage.product_id %>
    <%# </p> %>
  </div>
  <%# edit_product_productimage %>
  <%# edit_product_productimage_path %>
